
    <div class="info"  *ngIf="show" data-aos="zoom-in-down"
    data-aos-anchor-placement="top-center"
    >
        <h2>C’est quoi SIPOH ?</h2>


        <p>
            SIPOH est un dispositif de sécurité conçu pour les personnes vulnérables, telles que les femmes, les enfants, et les personnes âgées. Notre mission est de fournir une solution efficace et facile d'utilisation pour prévenir les agressions, alerter les autorités et les proches en cas de danger, et offrir des ressources éducatives pour promouvoir la sécurité.
        </p>


    </div>


    <img *ngIf="show" data-aos="zoom-in-down" 
    src="assets/kit.png" alt="">


