<article  *ngIf="show"
 data-aos-anchor-placement="top-center"
data-aos="zoom-in-down">
    <h2>
        Notre Vision et Valeurs
    </h2>


    <p>
        Nous envisionnons un monde où la sécurité est accessible à tous, où chaque individu peut se sentir en sécurité et soutenu. Nos valeurs de compassion, d'intégrité, et d'innovation guident chaque aspect de notre travail et nous poussent à offrir des solutions de qualité qui ont un impact réel.
    </p>


</article>

<img  
*ngIf="show"
data-aos="zoom-in-down"
 data-aos-anchor-placement="top-center"
src="assets/valeur.png" alt="">