<footer

>



    <div class="foot2 contact-card">

        <h3>addresse</h3>
        <ul class="contact-details">
            <li><i class="fas fa-map-marker-alt"></i> Douala cameroun , Akwa soudanaise</li>
            <li><i class="fas fa-envelope"></i> sipoh.cameroun&#64;gmail.com</li>
            <li><i class="fas fa-phone-alt"></i>+237 654 57 24 63</li>
        </ul>
        
    </div>


    <div class="foot2 contact-card">

        <h3>reseaux sociaux</h3>

        <a href="https://www.facebook.com/profile.php?id=61563241585287&mibextid=ZbWKwL">
            <img src="./assets/facebook.png" alt="">
        </a>


        <a href="https://www.linkedin.com/company/sipoh-cameroun/">
            <img src="./assets/linkedin.png" alt="">
        </a>
        
    </div>


    <div class="foot2 contact-card">

        <h3>Nos partenaires</h3>

        <img src="assets/odc_logo.png" alt="">

        
    </div>




    <!-- <div class="foot3">
        <img src="./assets/facebook.png" alt="">
        <img src="./assets/linkedin.png" alt="">
    </div> -->
</footer>