<img src="assets/histoire.png" alt=""  *ngIf="show"
data-aos="zoom-in-down"
data-aos-anchor-placement="top-center"
>


<article *ngIf="show"
data-aos="zoom-in-down"
data-aos-anchor-placement="top-center"
>
    <h2>
        Notre Histoire
    </h2>


    <p>
        SIPOH a été créé dans le cadre de la compétition Orange Summer Challenge 2024, avec pour objectif de répondre aux défis croissants en matière de sécurité des personnes vulnérables. En combinant notre expertise en ingénierie numérique et notre passion pour la protection, nous avons conçu une solution innovante qui allie technologie de pointe et sécurité.            </p>


</article>
