:host{

    margin-top: 100px;

    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center ;
    gap: 50px;

    padding: 0 15% 0 15%;
    box-sizing: border-box;

}



article{
    width: 60%;
}

img{
    width: 100%;
    height: auto;
    max-width: 350px;
}


article h2 {

    font-size: 1.5vw;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}

article  p {


    box-sizing: border-box;
    font-size: 1vw;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;


}






/* Taille des  polices d'articles */


@media (max-width: 1400px){
    :host{
        
            padding: 0 50px 0 50px;
    }
}

@media (max-width: 1108px){

    article{
        /* width: 40%; */
    }

}

@media (max-width: 1000px){

    :host{
        padding: 0 10% 0 10%;
    }

    article{
        width: 100%;
    }



}








/* Taille des  polices d'articles sur mobile */


/* Taille des  polices d'articles */

@media (max-width: 1004px){
    article h2 {
        font-size: 2.5vw;
        line-height: 38.4px;
    }

    article p {
        font-size: 2vw;
        line-height: 2;
    }
}








@media (max-width: 557px){

    :host{
        margin-top: 25px;
    }



}









/* Taille des  polices d'articles sur mobile */

@media (max-width: 425px){

    :host{
        margin-top: 50px;
    }


    article h2 {
        font-size: 4vw;
        line-height: 38.4px;
    }

    article p {
        font-size: 3.5vw;
        line-height: 2;
    }
}




