<article class="equipe" 
>
    <h2>
        Equipe
    </h2>


    <p>
        Notre équipe est composée de personnes dévoués, Chaque membre joue un rôle crucial dans la réalisation de notre mission.
    </p>

    
    <div class="team-container">
        <div class="team">

            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/florent.jpg" alt="">

                <div class="content">
                    <h3>Zeukeng Florent </h3>
                    <p>Développeur web</p>
                </div>
            </div>

            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/awani.jpg" alt="">

                <div class="content">
                    <h3>Awani Lakissa</h3>
                    <p>UX Designer</p>
                </div>
            </div>

            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/manuella.jpg" alt="">

                <div class="content">
                    <h3>Kamdom manuela</h3>
                    <p>Système intélligent </p>
                </div>
            </div>

            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/ghislain.jpg" alt="">

                <div class="content">
                    <h3>Ghislain Bella</h3>
                    <p>Développeur Mobile</p>
                </div>
            </div>

            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/jourelle.jpg" alt="">

                <div class="content">
                    <h3>Djomgoue jourelle</h3>
                    <p>Chef projet</p>
                </div>
            </div>
            <div class="membre" *ngIf="show"
            data-aos="zoom-in-down"
            data-aos-anchor-placement="top-center"
            >
                <img src="assets/yann.jpg" alt="">

                <div class="content">
                    <h3>Noume Yann</h3>
                    <p>Data-scientist</p>
                </div>
            </div>


            
        </div>

    </div>

</article>
