
header{
    box-sizing: border-box;
    width: 100%; 
    min-height: 100vh;

    color: white;




    background-image:  url('../../assets/contactBG.png');

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    /* aspect-ratio: 4096/9 */


    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 15vh;

    padding-bottom: 50px;

}


main{

    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: row;

    gap: 10vh;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

main img{
    max-width: 600px;
    width: 100%;
}


.contact-container {
    box-sizing: border-box;
    background-color: #ffffff85;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    filter: blur(.8);
}

.success{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: green;


    transition:  display 5s;
    
}

.hide{
    display: none;
}



.contact-container h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

.form-group input, .form-group textarea {
    box-sizing: border-box;

    background-color: #ffffff98;

    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}


.form-group input:focus, .form-group textarea:focus {
    border: #E6007E 2px solid;
    
    outline: none;
}




.form-group textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    header {

        gap: 5vh;

    }


}