:host{
    display: flex;
    flex-direction: column;
}

header{

    position: relative;
    box-sizing: border-box;
    width: 100%; 

    min-height: 100vh;
    color: white;

    background-image: linear-gradient(355deg, rgb(246 220 220 / 0%) -4.3%, rgb(143 150 169 / 60%) 102.84%),   url('../../assets/nousBg.png');

    background-blend-mode: multiply;

    background-size: cover;
    background-position: center;


    /* aspect-ratio: 4096/9 */

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    
}

h1{
    position: absolute;

    bottom: 10%;
    transform: translateY(50%);

    font-size: 80px;
    font-weight: 700;
}






main{

    box-sizing: border-box;

    width: 100%;
    padding: 0 90px 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1773px){
    
    header{
        min-height: 100vh;
    }
}



@media (max-width: 1528px){
    
    header{
        min-height: 80vh;
    }


    header h1{
        font-size: 60px;
        font-weight: 700;
    }
}

@media (max-width: 1328px){
    
    header{
        min-height: 70vh;
    }


    header h1{
        font-size: 60px;
        font-weight: 700;
    }
}

@media (max-width: 1198px){
    
    header{
        background-image: linear-gradient(358.99deg, rgba(0, 0, 0, 6e-05) -4.3%, rgba(22, 28, 45, 0.6) 102.84%) ,  url('../../assets/nous_xl.png');
    }
}

@media (max-width: 1052px){
    
    header{
        min-height: 60vh;
    }
}

/* Taille des  polices d'articles */




@media (max-width: 970px){
    
    header{
        min-height: 60vh;
    }
}

@media (max-width: 815px){
    
    header{
        min-height: 50vh;
    }
    header h1{
        font-size: 60px;
        font-weight: 700;
    }
}

@media (max-width: 642px){

    header{
        min-height: 45vh;
    }

    main{
        padding:  0 30px 0 30px;
    }


}

@media (max-width: 550px){
    header{
        background-image: linear-gradient(358.99deg, rgba(0, 0, 0, 6e-05) -4.3%, rgba(22, 28, 45, 0.6) 102.84%) ,  url('../../assets/nous_s.png');
        min-height: 45vh;
    }


    header h1{

        font-size: 40px;
        font-weight: 700;
    }
}

