<article *ngIf="show"
data-aos="zoom-in-down" 
>

    <h2>
        Présentation de SIPOH
    </h2>

    <p>
        Chez SIPOH, nous nous engageons à renforcer la sécurité et le bien-être des personnes vulnérables à travers des solutions technologiques innovantes. Nous avons développé un dispositif de sécurité avancé et une plateforme éducative pour protéger les individus contre les agressions sexuelles, les kidnappings d'enfants, et d'autres formes de violence physique. Notre objectif est d’offrir une protection efficace et un soutien essentiel aux victimes.
    </p>
</article>

<img 
*ngIf="show"
data-aos="zoom-in-down"

src="assets/piece.png" alt="">