<header>
    <app-navbar></app-navbar>

    <section class="message " *ngIf="show"  data-aos="zoom-in-right">

        <h1> 
            <span style="color: #E6007E ;">Une alerte, </span><br>
            <span style="color: #1D71B8 ;"> une vie  sauvée </span>
        </h1>

        <p>
            Une solution innovante pour la sécurité des personnes vulnérables.<br> Alertez, informez, et  protégez en un seul geste.
        </p>

        <a href="#" class="cta-button">

            Commander Maintenant &nbsp;
            <div class="icon-container">
                <i class="fas fa-arrow-right"></i>
            </div>
            
        </a>
    </section>





</header>


<app-section1>
    
</app-section1>


<app-section2>

</app-section2>

<app-section3>

</app-section3>


<app-footer>
    
</app-footer>